@use './variables';


@media screen and (max-width: 1200px) {

    header {
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        height: 14remS;
        nav {
            .multimediando_logo {
                height: 6rem;
                width: 20rem;

            }
            
            div {
                background-image: variables.$header-image;
                li {
                    margin-left: 3rem;
                    &:hover {
                        transform: scale(1.5);
                        transition: all 600ms;
                    }
                    .nav_button {
                        height: 5rem;
                        width: 10rem;
                        margin-left: 4rem;
                    }
                }
        
            }



            
        }
    }


    /*MAIN*/

    main {
        section {
            article {
                width: 100%;
                .index-info {
                    h1 {
                        font-size: 3rem;
                        padding: 1rem;
                    }
                }
                .img_container {
                    width: 100%;
                    h2 {
                        margin-top: 4rem;
                        margin-left: 0.8rem;
                        font-size: 2rem;
                        width: 100%;
                    }
                    p {
                        font-size: 2.5rem;
                        width: 100%;
                        margin-left: 0.8rem;
                        margin-bottom: 2rem;
                        margin-top: 6rem;
                    }
                    img {
                        width: 100%;
                        margin-left: 0.8rem;
                    }
                }
                .spotify {
                    width: 100%;
                    margin: 0;
                    margin-top: 6rem;
                    margin-bottom: 6rem;
                    p {
                        font-size: 3rem;
                        width: 100%;
                        margin: 0;
                        margin-left: 0.8rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;


                    }
                    iframe {
                        margin-top: 2rem;
                        width: 80%;
                        margin-left: 10%;
                    }
                }
                .posters {
                    width: 100%;
                    margin-bottom: 5rem;
                    p {
                        font-size: 3rem;
                        width: 100%;
                        margin: 0;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;
                    }
                    img {
                        width: 90%;
                        margin-left: 2rem;
                    }

                }
                .video_c_container {
                    width: 100%;
                    margin: 0;
                    .video {
                        width: 100%;
                        margin: 0;
                        margin-left: 0.8rem;
                        p {
                            margin: 0;
                            margin-top: 2rem;
                            margin-bottom: 2rem;
                            background-color: burlywood;
                            padding: 1rem;
                            border: solid;
                        }

                        iframe {
                            width: 60%;
                            margin-left: 20%;
                        }
                    }
                }

                div {
                    .titulo {
                        width: 90%;
                        margin: 0;
                        margin-left: 2rem;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }
                }

                .rese単as-titulo {
                    width: 100%;
                    margin: 0;
                    .wakanda-container {
                        width: 100%;
                        margin: 0;
                        a {
                            font-size: 5rem;
                            background-color: aqua;
                            padding: 0.5rem;
                        }
                    }
                    .rese単as {
                        width: 90%;
                        font-size: 2.5rem;
                        background-color: coral;
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 3rem;
                        margin-bottom: 4rem;
                        padding: 1rem;
                        border: solid;
                    }
                }
                .trailers {
                    width: 100%;
                    margin: 0;
                    iframe {
                        width: 90%;
                        margin-left: 5%;
                    }
                }
            }

            .posters-container {
                width: 100%;
                div {
                    width: 100%;
                    margin: 0;
                    margin-top: 5rem;
                    .pelis_text {
                        width: 90%;
                        margin: 0;
                        margin-left: 5%;
                        font-size: 2.5rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;
                    }
                    img {
                        width: 80%;
                        margin-left: 10%;
                    }
                }
            }

            .playlist-container {
                width: 100%;
                margin: 0;
                .playlist {
                    margin: 0;
                    margin-left: 15%;
                    margin-top: 6rem;
                    margin-bottom: 2rem;
                    width: 100%;
                    iframe {
                        width: 80%;
                    }
                }
            }

            .game-container {
                width: 100%;
                margin: 0;
                .game-info {
                    margin: 0;
                    margin-left: 2rem;
                    margin-top: 4rem;
                    width: 90%;
                    background-color: rgb(255, 213, 43);
                    padding: 2rem;
                    border: solid;


                }
                
                .games {
                    width: 100%;
                    margin: 0;
                    .game-title {
                        margin: 0;
                        margin-left: 4rem;
                        margin-top: 8rem;
                        margin-bottom: 2rem;
                        width: 80%;
                        font-size: rem;
                        background-color: rgb(187, 235, 255);
                        padding: 2rem;
                        border: solid;
                    }
                    .game-text {
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 4rem;
                        width: 90%;
                        background-color: rgb(161, 255, 255);
                        padding: 2rem;
                        border: solid;
                    }

                    img {
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 4rem;
                        width: 90%;
                    }
                }
            }

            .contacto-container {
                margin: 0;
                margin-top: 3rem;
                margin-bottom: 20rem;
                p {
                    width: 80%;
                    font-size: 4rem;
                    margin-top: 3rem;
                }
            }

            .links-container {
                margin: 0;
                margin-top: 3rem;
                margin-bottom: 6rem;
                width: 100%;
                .links {
                    a {
                        margin: 0;
                        font-size: 3rem;
                    } 
                }
            }

        }
    }

    /*FOOTER*/
    footer {
        margin-top: 80rem;
    }

}




@media screen and (max-width: 768px) {
    /*HEADER*/
    header {
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        
        nav {
            .multimediando_logo {
                height: 6rem;
                width: 20rem;

            }
            
            div {

                background-image: variables.$header-image;
                li {
                    margin-left: 3rem;
                    &:hover {
                        transform: scale(1.5);
                        transition: all 600ms;
                    }
                    .nav_button {
                        height: 5rem;
                        width: 10rem;
                        margin-left: 4rem;
                    }
                }
        
            }



            
        }
    }


    /*MAIN*/

    /*FOOTER*/



}


@media screen and (max-width: 576px) {
    /*HEADER*/
    header {
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
        z-index: 2;
        height: 14remS;
        nav {
            .multimediando_logo {
                height: 6rem;
                width: 20rem;

            }
            
            div {

                background-image: variables.$header-image;
                li {
                    margin-left: 3rem;
                    .nav_button {
                        height: 5rem;
                        width: 10rem;
                        margin-left: 4rem;
                    }
                }
        
            }    
        }
    }


    /*MAIN*/
    main {
        section {
            article {
                width: 100%;
                .index-info {
                    h1 {
                        font-size: 3rem;
                        padding: 1rem;
                    }
                }
                .img_container {
                    width: 100%;
                    h2 {
                        margin-top: 4rem;
                        margin-left: 0.8rem;
                        font-size: 2rem;
                        width: 100%;
                    }
                    p {
                        font-size: 2.5rem;
                        width: 100%;
                        margin-left: 0.8rem;
                        margin-bottom: 2rem;
                        margin-top: 6rem;
                    }
                    img {
                        width: 100%;
                        margin-left: 0.8rem;
                    }
                }
                .spotify {
                    width: 100%;
                    margin: 0;
                    margin-top: 6rem;
                    margin-bottom: 6rem;
                    p {
                        font-size: 3rem;
                        width: 100%;
                        margin: 0;
                        margin-left: 0.8rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;


                    }
                    iframe {
                        width: 80%;
                        margin-left: 4rem;
                    }
                }
                .posters {
                    width: 100%;
                    margin-bottom: 5rem;
                    p {
                        font-size: 3rem;
                        width: 100%;
                        margin: 0;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;
                    }
                    img {
                        width: 90%;
                        margin-left: 2rem;
                    }

                }
                .video_c_container {
                    width: 100%;
                    margin: 0;
                    .video {
                        width: 100%;
                        margin: 0;
                        margin-left: 0.8rem;
                        p {
                            margin: 0;
                            margin-top: 2rem;
                            margin-bottom: 2rem;
                            background-color: burlywood;
                            padding: 1rem;
                            border: solid;
                        }
                    }
                }

                div {
                    .titulo {
                        width: 90%;
                        margin: 0;
                        margin-left: 2rem;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                    }
                }

                .rese単as-titulo {
                    width: 100%;
                    margin: 0;
                    .wakanda-container {
                        width: 100%;
                        margin: 0;
                        a {
                            font-size: 5rem;
                            background-color: aqua;
                            padding: 0.5rem;
                        }
                    }
                    .rese単as {
                        width: 90%;
                        font-size: 2.5rem;
                        background-color: coral;
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 3rem;
                        margin-bottom: 4rem;
                        padding: 1rem;
                        border: solid;
                    }
                }
                .trailers {
                    width: 100%;
                    margin: 0;
                    iframe {
                        width: 90%;
                        margin-left: 2.5rem;
                    }
                }
            }

            .posters-container {
                width: 100%;
                div {
                    width: 100%;
                    margin: 0;
                    margin-top: 5rem;
                    .pelis_text {
                        width: 90%;
                        margin: 0;
                        margin-left: 2rem;
                        font-size: 2.5rem;
                        background-color: burlywood;
                        padding: 1rem;
                        border: solid;
                    }
                    img {
                        width: 80%;
                        margin-left: 4rem;
                    }
                }
            }

            .playlist-container {
                width: 100%;
                margin: 0;
                .playlist {
                    margin: 0;
                    margin-left: 4rem;
                    margin-top: 6rem;
                    margin-bottom: 2rem;
                    width: 100%;
                    iframe {
                        width: 80%;
                    }
                }
            }

            .game-container {
                width: 100%;
                margin: 0;
                .game-info {
                    margin: 0;
                    margin-left: 2rem;
                    margin-top: 4rem;
                    width: 90%;
                    background-color: rgb(255, 213, 43);
                    padding: 2rem;
                    border: solid;


                }
                
                .games {
                    width: 100%;
                    margin: 0;
                    .game-title {
                        margin: 0;
                        margin-left: 4rem;
                        margin-top: 8rem;
                        margin-bottom: 2rem;
                        width: 80%;
                        font-size: rem;
                        background-color: rgb(187, 235, 255);
                        padding: 2rem;
                        border: solid;
                    }
                    .game-text {
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 4rem;
                        width: 90%;
                        background-color: rgb(161, 255, 255);
                        padding: 2rem;
                        border: solid;
                    }

                    img {
                        margin: 0;
                        margin-left: 2rem;
                        margin-top: 4rem;
                        width: 90%;
                    }
                }
            }

            .contacto-container {
                margin: 0;
                p {
                    width: 90%;
                    font-size: 3rem;
                    margin-top: 3rem;
                }
            }

            .links-container {
                margin: 0;
                margin-top: 3rem;
                margin-bottom: 6rem;
                width: 100%;
                .links {
                    a {
                        margin: 0;
                        width: 5px;
                        font-size: 2rem;
                    } 
                }
            }

        }
    }

}